* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar{
  position: fixed;
  z-index: 100;
  width: 100%;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
/*.navbar-nav {
 align-items: right;
}*/
.mi {
  /*margin: 2% 0 0 2%;*/
}
.main-sub-heading {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* margin: auto; */
  margin-top: -2%;
  margin-bottom: -1.5%;
}
#carousal {
  margin: auto;
  max-height: 50%;
}
.carousel-item {
  max-height: 60vh;
  width: 100%;
}
/*.carousal-image {
  width: 100%;
  height: 100%;
}*/
.nav-item {
  background-color: 
}
.nav-link {
  border: none;
  text-decoration: none;
  background-color: #fff;
}
#get-quote {
  background-color: #343a40;
}
.quote-form {
  color: white;
  background-color: rgb(49, 8, 145);
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
}
.quote-form:hover {
  background-color: #666;
  color: black;
}
.mapouter {
  /* position: relative; */
  /* text-align: center; */
  height: 70vh;
  width: 80vw;
  margin: 2% 5%;
}
@media (max-width: 500px) {
  .mapouter {
    height: 50vh;
    width: 100vw;
    margin: auto;
    overflow: hidden;
  }
}
.gmap_canvas {
  /* overflow: hidden; */
  background: none !important;
  height: 100%;
  width: 100%;
}
#gmap_canvas {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  /* margin-left: 5%; */
}
/* #modalContactForm {
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #modalContactForm {
    max-width: 100%;
  }
}
/* @media (max-width: @screen-xs-min) {
  #modalContactForm {
    width: @modal-sm;
  }
} */
#madalContactForm {
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  color: #202124;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-tap-highlight-color: transparent;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
#mapandtime {
  display: flex;
  flex-direction: column;
}

#time {
  margin: 10px auto;
}
#time ul {
  min-width: 250px;
  margin: 5%;
  padding: 2%;
}

/*ACCORDION
-----------------------------------------------*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active_accordion, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_accordion:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*-------------------------------------------
---------FOOTER----------------------------*/
.footer-logo {
  width: 11rem;
  height: 7rem;
}

.fab {
  /*background-color: white;*/
  color: white;
}

.si {
  color: white; !important
}

.si:hover
.si:active {
  color: #666; !important
}
/*-----------------------------------------
Media Queries*/

@media (max-width: 500px) {
  .carousel-item {
    height: 45vh;
    width: 100vw;
  }
}
